*/30 * 13-23 * * sh /projects/NS9001K/owul/projects/cf_monthly_forecast/cf_monthly_forecast/automation.sh >> /projects/NS9001K/owul/projects/cf_monthly_forecast/logs/cron.log 2>&1
*/30 * 13-23 * * sh /projects/NS9001K/owul/projects/cf_monthly_forecast/cf_monthly_forecast/automation_download.sh >> /projects/NS9001K/owul/projects/cf_monthly_forecast/logs/cron_dl.log 2>&1